* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: white;
  font-family: "SF Pro", sans-serif;
  font-size: 13px;
}

#custom-arch,
#workspaces,
#pulseaudio,
#backlight,
#idle_inhibitor,
#custom-media,
#network,
#bluetooth,
#battery,
#clock.date,
#clock.time {
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces {
  margin-left: 3px;
  margin-right: 3px;
}

#workspaces button {
  background: transparent;
  color: white;
  padding: 0 5px;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #f28dbf;
  border-top: 2px solid #f28dbf;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  color: #f28dbf;
}

#custom-arch {
  color: #1793d1;
  margin-left: 10px;
}

#clock.time {
  margin-right: 10px;
}
